@import "../../variables/mixinsOfGrigory.scss";
$blueColor: #0a84ff;
.container {
  background-color: #f6f6f6;
}
.nav {
  @include nav;
}

.house {
  text-decoration: none;
  color: #7a7777;
  padding-right: 10px;
}
.information {
  padding: 0 10px;
}
.information:hover {
  color: #7a7777;
  text-decoration: none;
}
.nav span {
  margin: 10px 0;
  color: #7a7777;
}
.credit {
  padding-left: 10px;
}

.mainWord {
  @include mainWord;
}
.mainWord h1 {
  margin: 10px 0;
  font-weight: 200;
}
.banner {
  @include banner;
}
.banks {
  @include banks;
}

.banks a:hover {
  color: $blueColor;
  border-bottom: 0.5px solid $blueColor;
  text-decoration: none;
}

.banks a {
  @include refOfBanks;
}
.wrapperDescriptionOfCredits {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}
.MainDescriptionOfCredits {
  font-size: 24px;
}
.MainDescriptionOfCredits p {
  margin: 5px 0;
}
.map {
  font-size: 24px;
  text-align: center;
}
.description {
  margin-top: 20px;
  font-size: 20px;
}
.firstBlockOfDescription {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-top: 0.5px solid rgb(228, 222, 222);
  border-bottom: 0.5px solid rgb(228, 222, 222);
}
.secondBlockOfDescription {
  display: flex;
  align-items: center;
}
.description img {
  padding: 12px;
  margin: 0 0;
}
.firstDescription {
  padding: 12px;
  margin: 0 0;
  width: 20%;
}
.secondDescription {
  padding: 12px;
  margin: 0 0;
  width: 70%;
}
.markList li {
  list-style-type: none;
  margin: 0 0;
}
.markList li:before {
  content: "-";
}
li {
  margin: 0px 0px 15px;
}
.adressOfShops {
  text-align: start;
  font-size: 14px;
  border: 0.5px solid rgb(228, 222, 222);
}
