@import "../../variables/mixins.scss";
$mainTextColor: #231f20;
$linksColor: #0a84ff;

.headBlock {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(218, 214, 214);
}
.aboutHead {
  @include shortCutLine;
  margin: 25px 0 0 200px;
}

.blockAbout {
  margin-left: 200px;
  width: 70%;
}
.blockAbout > h1 {
  font-size: 24px;
  color: $mainTextColor;
  font-weight: 300;
}
.blockAbout h2 {
  font-size: 15px;
  color: $mainTextColor;
  font-weight: 500;
}
.blockAbout h3 {
  font-size: 15px;
  font-weight: 400;
  color: $mainTextColor;
}
.blockAbout span {
  font-size: 15px;
  font-weight: 400;
  color: $mainTextColor;
}
.blockAbout a {
  text-decoration: none;
  color: $mainTextColor;
  font-weight: 400;
}

.headTextInfo {
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userInfo > input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 10px;
  padding: 20px 15px;
  width: 40%;
}
.comment {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 20px 15px;
  width: 40%;
  height: 80px;
}
.politics {
  margin-right: 220px;
  padding: 15px 0;
}
.politics a {
  text-decoration: none;
  color: $linksColor;
}

.send {
  margin: 0 0 20px 10px;
  padding: 8px 40px;
  border: 1px solid $linksColor;
  color: $linksColor;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s linear;
}
.send:hover {
  cursor: pointer;
  background-color: $linksColor;
  color: white;
}
.userInfo > img {
  width: 99vw;
  height: 60vh;
}
