@import "../../variables/mixins.scss";
$linksColor: #0a84ff;
$discriptionColor: #bababa;

.iParthner {
  display: grid;
  padding: 80px 0;
  grid-template-columns: 1fr 9fr;
}
.iParthner img {
  width: 135px;
  height: 135px;
  margin: 0 25px 0 182px;
}
.iParthner .headParthner {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin: 0 0 15px;
  font-weight: 300;
}
.iParthner h2 {
  font-size: 15px;
  color: $discriptionColor;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.iParthner h3 {
  color: $discriptionColor;
  font-size: 15px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
.iParthner a {
  text-decoration: none;
  color: $linksColor;
}
.circleBottomLine {
  @include circle;
}

.arrowBottomLine {
  @include arrow;
}
