@mixin arrowBottomLine {
  content: "";
  display: inline-block;
  margin-top: 2px;
  margin-left: -2px;
  width: 2px;
  height: 2px;

  border-top: 2px solid #7a7777;
  border-right: 2px solid #7a7777;

  transform: rotate(45deg);
  padding: 1px;
  margin: 4px 10px;
}

@mixin circleBottomLine {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #0a84ff;
  border-radius: 50%;
  text-align: center;
  content: "";
  left: 5px;
  top: 2px;
}

@mixin nav {
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  color: #7a7777;
  align-items: center;
  margin: 0 auto;
  border-bottom: 0.5px solid silver;
}

@mixin house {
  height: 15px;
  width: 15px;
}

@mixin mainWord {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}
@mixin banner {
  width: 30%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
@mixin banks {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@mixin refOfBanks {
  padding: 20px;
  border: 0.5px solid silver;
  font-size: 20px;
  text-align: center;
  transition: 0.2s ease;
  color: black;
  text-decoration: none;
}
