@import "../../variables/mixins.scss";
$linksColor: #0a84ff;
$discriptionColor: #bababa;
$mainTextColor: #231f20;

.navBlock {
  border-color: #fafafa;
  display: flex;
  justify-content: center;
}
.bodyBlock {
  display: flex;
  justify-content: center;
}
.itemNavBlock {
  padding: 0 15px;
  width: 320px;
}
.itemNavBlock img {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 320px;
}

.itemNavBlock h1 {
  color: $mainTextColor;
  font-weight: 600;
  margin: 0 0 10px;
  font-size: 25px;
  @include elipsis;
}
.itemNavBlock h2 {
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  @include elipsis;
}
.itemNavBlock h3 {
  font-size: 13px;
  color: $discriptionColor;
  font-weight: 300;
}
.bottomLineInfo a {
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
  padding: 0 15px;
  font-weight: 300;
  color: $linksColor;
  transition: 1s linear;
}
.bottomLineInfo {
  overflow: hidden;
  text-align: right;
  padding: 0 170px 80px 170px;
  vertical-align: middle;
}
.bottomLineInfo > a:hover {
  cursor: pointer;
  color: $mainTextColor;
}

.bottomLineInfo:before {
  position: relative;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 88%;
  height: 1px;
  background-color: #e0e0e0;
  margin-left: -10%;
}
.circleBottomLine {
  @include circle;
}

.arrowBottomLine {
  @include arrow;
}
