@import "../../variables/mixins.scss";
$linksColor: #0a84ff;
$mainTextColor: #231f20;

.headBlock {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(218, 214, 214);
}
.infoHead {
  @include shortCutLine;
  margin: 25px 0 0 200px;
}

.infoLinks {
  padding: 20px 0;
  width: 50%;
  height: 30%;
  margin-left: 200px;
}

.infoLinks a > li {
  color: $linksColor;
  margin-bottom: 10px;
}
