.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.firstInfoBlockLine {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.column {
	width: 100%;
	display: flex;
	flex-direction: column;
}
