@import "../../variables/mixinsOfGrigory.scss";

.container {
  background-color: #f6f6f6;
  @include nav;
}
.containerBreadCrumb {
  width: 80%;
  margin: 0 auto;
  border-bottom: 0.5px solid silver;
  padding: 10px 0;
}
