.wrapperContainerFirstLine {
  padding: 0 200px;
}
.containerFirstLine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.containerFirstLine a {
  text-decoration: none;
  color: 0a84ff;
}
.wrapperForDevices {
  background-color: #f6f6f6;

  display: flex;
}
.wrapperForDevices img {
  margin-right: 25px;
}
.mainContent {
  font-size: 20px;
  color: #231f20;
  font-weight: 600;
  margin-bottom: 7px;
}
.descriptionContent {
  color: #231f20;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 15px;
}
