.mainBlock {
  height: 70vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
  justify-items: center;
}
.mainBlock img {
  width: 33vw;
  height: 35vh;
}
